<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>PROYECTOS COMUNITARIOS</ion-title>
      <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page background">
    <ion-grid>
        <ng-container *ngFor="let proyecto of proyectos">
            <ion-card>
              <ion-row justify-content-center >
                  <ion-col col-9>
                      <ion-thumbnail item-center>
                          <img src="http://www.urbidcr.com/img/project_images/{{proyecto.project_image}}" />
                      </ion-thumbnail>
                      <p text-center>
                        <b>{{proyecto.project_name}}</b>
                      </p>
                  </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                    <div class="progress-outer">
                        <div class="progress-inner" [style.width]="(100/proyecto.project_cost)*proyecto.project_collected_amount + '%'">{{(100/proyecto.project_cost)*proyecto.project_collected_amount | number:'1.2-2'}}%</div>
                    </div>
              </ion-row>
              <ion-row justify-content-center>
                    <ion-col col-12>
                        <button (click)="verDetalle(proyecto)" ion-button block  full color="urbid-login-button">Ver detalle</button>
                    </ion-col>
              </ion-row>
            </ion-card>
        </ng-container>
        <ion-card *ngIf="noProjects" color="danger" outline>
            <ion-card-content>
                <ion-icon name="alert"></ion-icon> No se han creado proyectos comunitarios
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
