<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>CONFIRMACIÓN</ion-title>
    <button ion-button menuToggle end>
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
        <h5>Información actual</h5>
        <ion-row>
            <ion-col col-12>
                <ion-item no-padding>
                    <h2>Nombre completo</h2>
                    <p>{{userData.client_name}} {{userData.client_lastName}}</p>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item no-padding>
                    <h2>Teléfono</h2>
                    <p>{{userData.client_phone}}</p>
                </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-12>
              <ion-item no-padding>
                  <h2>Correo electrónico</h2>
                  <p>{{userData.email}}</p>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
              <ion-item no-padding>
                  <h2>Puntos acumulados</h2>
                  <p>{{userData.points}}</p>
              </ion-item>
          </ion-col>
        </ion-row>
      <p>
         <strong>Nota:</strong><br/><br/>
         1. Al eliminar la cuenta no podrás recuperar los puntos adquiridos. <br/>
      </p>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
      <ng-container>
          <ion-row>
              <button ion-button full block color="danger" (click)="confirmarEliminacion()">Confirmar eliminación</button>
          </ion-row>
      </ng-container>
  </ion-grid>
</ion-footer>
