<ion-header>
    <ion-navbar padding color="urbid-turquoise-dark">
      <ion-title>CONFIGURACIÓN</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="configurationForm" (ngSubmit)="modificar(configurationForm.value)">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <h5 no-margin><b>{{tituloLabel}}</b></h5>
                    </ion-item>
                    <ion-item no-lines *ngIf="tipo == 'N'">
                        <ion-input type="text"  class="valor" value="{{valor}}" [(ngModel)]="nombre" formControlName="nombre"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="tipo == 'A'">
                            <ion-input type="text"  class="valor" value="{{valor}}" [(ngModel)]="apellido" formControlName="apellido"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="tipo == 'T'">
                            <ion-input type="number"  class="valor" value="{{valor}}" [(ngModel)]="telefono" formControlName="telefono"></ion-input>
                    </ion-item>
                    <ion-item no-lines *ngIf="tipo == 'C'">
                            <ion-input type="text"  class="valor" value="{{valor}}" [(ngModel)]="correo" formControlName="correo"></ion-input>
                    </ion-item>
                    <p *ngIf="configurationForm.get('nombre') && configurationForm.get('nombre').errors" >
                        <span style="color: red" ion-text>{{mensajeError}}</span>
                    </p>
                    <p *ngIf="configurationForm.get('apellido') && configurationForm.get('apellido').errors" >
                        <span style="color: red" ion-text>{{mensajeError}}</span>
                    </p>
                    <p *ngIf="configurationForm.get('telefono') && configurationForm.get('telefono').errors" >
                        <span style="color: red" ion-text>{{mensajeError}}</span>
                    </p>
                    <p *ngIf="configurationForm.get('correo') && configurationForm.get('correo').errors" >
                        <span style="color: red" ion-text>{{mensajeError}}</span>
                    </p>
                </ion-col>
                <button ion-button full block color="urbid-login-button" type="submit" >GUARDAR</button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
