page-generic-configuration {
    h5{
        font-size: 1.8rem !important;
    }

    h6{
        font-size: 1.8rem !important;
    }

    ion-input{
        font-size: 2rem !important;
        border-bottom: 0.2rem solid black !important; 
    }

}

