<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title text-center>REGISTRO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-icon class="success-icon" name="checkmark-circle"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
          <h4>Registro realizado</h4>
        </ion-row>
        <ion-row justify-content-center>
            <label>Los productos están siendo empacados, pronto serán entregados!</label>
          </ion-row>
      </ion-grid>
</ion-content>
