page-cart {
    .icono-grande-suma{
        font-size:30px !important;
    }
    .icono-grande-resta{
        font-size:30px !important;
    }

    .cantidad{
        display:inline-block !important;
    }

    .number{
        padding:8px !important;
    }
    .inline-block{
        display:inline-block !important;
        padding:0px !important;
    }

    .counter{
        display:flex !important;
    }
}
