<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>RECIBO</ion-title>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col col-2><b>Cant.</b></ion-col>
        <ion-col col-7><b>Nombre producto</b></ion-col>
        <ion-col col-3><b>Total</b></ion-col>
    </ion-row>
    <hr/>
	  <ion-row *ngFor="let producto of recibo">
      <ion-col col-2>{{producto.product_quantity}}</ion-col>
      <ion-col col-7 text-wrap>{{producto.product_name}}</ion-col>
      <ion-col col-3>{{producto.monto | currency:"₡"}}</ion-col>
    </ion-row>
    <hr/>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-5 text-right><b>Costo de envío:</b></ion-col>
      <ion-col col-4 text-right><b>{{costoEnvio | currency:"₡"}}</b></ion-col>
  </ion-row>
    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-5 text-right><b>Monto Total:</b></ion-col>
        <ion-col col-4 text-right><b>{{montoTotal | currency:"₡"}}</b></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-6 text-right><b>Aporte comunitario:</b></ion-col>
        <ion-col col-4 text-right><b>{{montoAporteTotal | currency:"₡"}}</b></ion-col>
    </ion-row>
    <br/>

    <ion-list radio-group>
      <ion-item no-lines>
          <ion-label><b style="color:black">Forma de pago</b></ion-label>
          <ion-select [(ngModel)]="formaPago">
            <ion-option value="EF">Efectivo</ion-option>
            <ion-option value="PU">Puntos URBID</ion-option>
            <ion-option value="SM">SINPE MOVIL</ion-option>
          </ion-select>
      </ion-item>
      <ion-list  *ngIf="formaPago === 'EF'">
          <ion-item>
            <ion-label>¿Con cuanto deseas pagar?</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Monto completo</ion-label>
            <ion-radio value="MC" (click)="ocultarInput()" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otro monto</ion-label>
            <ion-radio value="OM" (click)="mostrarInput()"></ion-radio>
          </ion-item>
          <ion-item *ngIf="OMI">
              <ion-label>Ingrese el monto</ion-label>
            <ion-input type="number" [(ngModel)]="montoPagoIngresado"></ion-input>
          </ion-item>
          <p *ngIf="OMI && errorMonto" >
            <span style="color: red" ion-text>El monto ingresado no es válido</span>
          </p>
      </ion-list>
      
      <ion-list  *ngIf="formaPago === 'PU'">
          <ion-row>
              <ion-label text-center>Puntos actuales: <b>{{puntosCliente}}</b></ion-label>
          </ion-row>
          <ion-card *ngIf="montoTotal > puntosCliente" color="danger" outline>
              <ion-card-content>
                  <ion-icon name="alert"></ion-icon> No cuentas con puntos suficientes
              </ion-card-content>
          </ion-card>
    </ion-list>
    <ion-list  *ngIf="formaPago === 'SM'">
      <ion-row>
          <p>Realizar el deposito a la cuenta Sinpe Movil <b>84520006</b> y 
            agregar en la descripción el código de la compra</p>
      </ion-row>
</ion-list>
    </ion-list>    
	</ion-grid>
</ion-content>
<ion-footer no-border>
    <button class="block button-width-detail" (click)="geolocation_map()" ion-button full strong color="urbid-login-button" >Siguiente</button>
</ion-footer>
