<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title text-center>NOTIFICACIONES</ion-title>
    <ion-buttons end>
        <button ion-button menuToggle>
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-border>
  <h5 class="padding-left">
    Lista de notificaciones
  </h5>
  <hr>
  <ion-grid>
    <ng-container>
      <ion-card>
        <ion-row (click)="mostrarContenido()">
          <ion-col col-8>Obtenga las mejores promociones este viernes negro</ion-col>
          <ion-col col-4>10/12/1993 12:23</ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>
