<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title text-center>UBICACION</ion-title>
      <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas"></div>
</ion-content>
<ion-footer no-border>
    <button *ngIf="isMapLoaded == true" ion-button color="urbid-login-button" full strong block (click)="realizarCompra()">Confirmar</button>
</ion-footer>
