<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title text-center>COMPRA REALIZADA</ion-title>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content paddingm text-center class="vertical-align-content">
  <ion-grid>
    <ion-row justify-content-center>
        <ion-icon class="success-icon" name="checkmark-circle"></ion-icon>
    </ion-row>
    <ion-row justify-content-center>
      <h4 class="titulo">¡Pedido realizado correctamente!</h4>
    </ion-row>
    <ion-row justify-content-center>
        <label>Los productos están siendo empacados, pronto serán entregados!</label>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <button class="block button-width-detail" (click)="verPedidosRealizados()" ion-button full strong color="urbid-login-button" >Ver pedidos</button>
</ion-footer>
