<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>NOTIFICACIÓN</ion-title>
    <ion-buttons end>
        <button ion-button (click)="cerrarNotificacion()">
            <ion-icon>Cerrar</ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button >Volver</button>
</ion-content>
