modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.boton{
  display: block !important;
}


.padding-left{
  padding-left: 3%;
}

hr {
  border: 1px solid #eeeeee !important;
  height: 1px !important;
  width: 90% !important;
  padding-left: 2% !important;
  padding-top: 0% !important;
  background: #eeeeee !important;
  display: block !important;
  font-size: 1em !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.btn-small{
  background-color: white !important;
  color: #00838f !important;
}


@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}