<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>DETALLE</ion-title>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
  <h4>{{producto.product_name}}</h4>
  <h5 ion-text  color="urbid-login-button" no-margin>{{producto.product_cost | currency:"₡"}}</h5>
  <ion-card no-border>
    <ion-grid>
      <ion-row justify-content-end>
        <ion-icon *ngIf="isFavorite == false" class="icono-grande-favorito" name="heart-empty"></ion-icon>
        <ion-icon *ngIf="isFavorite == true" class="icono-grande-favorito" color="urbid-coral-light" (click)="eliminar_producto_favorito(producto.product_code)" name="heart"></ion-icon>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-6>
            <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid justify-content-center>
      <ion-row justify-content-center>
          <button  outline ion-button round color="danger" (click)="agregar_producto_favorito(producto.product_code)">
              <ion-icon class="small-padding-left" name="heart"></ion-icon> <b ion-text>FAVORITO</b>
            </button>
          <button  ion-button round color="secondary" (click)="agregar_producto_cesta(producto.product_code)">
            <ion-icon class="small-padding-left" name="cart"></ion-icon> <b ion-text>AGREGAR</b>
          </button>
       </ion-row>
     </ion-grid>
  </ion-card>
  <ion-grid >
    <ion-row>
        <ion-col class="darkGreen" col-7><b>Código:</b></ion-col>
        <ion-col class="lightGreen" col-5 ion-text >{{producto.product_code}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-7><b>Precio x unidad:</b></ion-col>
        <ion-col class="lightGreen" col-5 ion-text >{{producto.product_cost | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-7><b>Aporte comunitario:</b></ion-col>
        <ion-col class="lightGreen" col-5 ion-text >{{producto.product_com_profit | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="darkGreen" col-7><b>Hecho en:</b></ion-col>
      <ion-col class="lightGreen" col-5 ion-text >{{producto.made_in}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="darkGreen" col-12><b>Observaciones:</b></ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="lightGreen" col-12 ion-text >{{producto.product_description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
