page-shopping-detail {
    
}
.botonCancelar{
    color:#00897b !important;
    background-color:white !important;
    width:25% !important;
    text-align: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.botonAceptar{
    color:white !important;
    background-color:#00897b !important;
    width:25% !important;
    text-align: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.alert-md .alert-button .button-inner {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.hr {
    border: 0.3px solid black !important;
    height: 0.5px !important;
    width: 100% !important;
    background: black !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }



