<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>DETALLE DE COMPRA</ion-title>
    <button ion-button menuToggle end class="boton">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-border>
    <h5 class="padding-left">
        Información de la compra
      </h5>
    <hr>
    <ion-grid>
        <ion-row>
            <ion-col col-6><b>Codigo:</b></ion-col>
            <ion-col col-6>{{order.codigo}}</ion-col>
          </ion-row>
      <ion-row>
        <ion-col col-6><b>Fecha creación:</b></ion-col>
        <ion-col col-6 displayFormat="MM/DD/YYYY">{{order.created_at}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6><b>Estado:</b></ion-col>
          <ion-col col-6>{{order.status}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6><b>Forma pago:</b></ion-col>
            <ion-col col-6>{{order.forma_pago}}</ion-col>
          </ion-row>
      <ion-row>
        <ion-col col-6><b>Repartidor:</b></ion-col>
        <ion-col col-6>{{order.delivery_person_name}} {{order.delivery_person_lastName}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><b>Monto envío:</b></ion-col>
        <ion-col col-6>{{order.montoEnvio | currency:"₡"}}</ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6><b>Monto compra:</b></ion-col>
          <ion-col col-6>{{order.montoTotal | currency:"₡"}}</ion-col>
      </ion-row>
      <hr class="hr"/>
      <ion-row>
          <ion-col col-6><b>Monto total:</b></ion-col>
          <ion-col col-6>{{order.montoTotal + order.montoEnvio | currency:"₡"}}</ion-col>
      </ion-row>
      <hr>
      <h6 class="padding-left">
          Contacte al repartidor
      </h6>
      <ion-row>
        <ion-col col-2>
            <button ion-button block  full color="urbid-login-button"  (click)="llamarRepartidor(order.delivery_person_phone)" >
                <ion-icon name="call"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-3><label text-center>Llamar</label></ion-col>
        <ion-col col-2>
            <button ion-button block  full color="urbid-login-button" (click)="enviarMensaje(order.delivery_person_phone)">
                <ion-icon name="text"></ion-icon>
            </button>
        </ion-col>
        <ion-col col-4><label text-center>Enviar mensaje</label></ion-col>
      </ion-row>
    </ion-grid>
    <h5 class="padding-left">
      Lista de productos comprados
    </h5>
  <hr>
  <ion-grid>
      <ng-container *ngFor="let producto of products">
          <ion-card>
            <ion-row>
              <ion-col col-3>
                  <img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
              </ion-col>
              <ion-col col-9>
                  <h4><b>{{producto.product_name}}</b></h4>
                  <p>‎Costo x unidad:{{producto.product_cost | currency:"₡"}}</p>
                  <p>Cantidad: {{producto.product_quantity}}</p>
              </ion-col>
            </ion-row>
          </ion-card>
      </ng-container>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <button class="block padding-null" color="danger"  ion-button full strong (click)="presentAlertConfirm(order.codigo)" >Cancelar compra</button>
</ion-footer>

