<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
		<ion-title>PRODUCTOS</ion-title>
		<button ion-button menuToggle end class="boton">
			<ion-icon name="more"></ion-icon>
		</button>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page background">
	<ion-grid>
		<ng-container>
			<ion-row justify-content-start>
				<ion-col justify-content-center col-6  *ngFor="let producto of productos">
					<ion-thumbnail item-start (click)="presentProfileModal(producto)" >
						<img  src="http://www.urbidcr.com/img/product_images/{{producto.product_image}}" />
					</ion-thumbnail>
					<ion-row class="sin-espacio">
						<ion-col col-12 no-padding>
							<h6 start ion-text  text-center class="descripcion" color="urbid-title" (click)="presentProfileModal(producto)">
								{{producto.product_name}}
							</h6>
						</ion-col>
						<ion-col col-12 no-padding>
							<h6 ion-text text-center color="urbid-login-button" no-margin>{{producto.product_cost | currency:"₡"}}</h6>
						</ion-col>
					</ion-row>
					
							<button small outline ion-button padding round color="secondary" class="boton-centrado" (click)="agregar_producto_cesta(producto.product_code,1)">
								<ion-icon class="small-padding-left" name="cart"></ion-icon> <b ion-text>AGREGAR</b>
							</button>
				</ion-col>
			</ion-row>
		</ng-container>
	</ion-grid>
</ion-content>
