page-products {
     .descripcion{
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
     }

     .discount{
         text-decoration: line-through;
     }

     .boton-centrado{
        width: 98% !important;
        text-align: center;
     }
}
ion-col{
    -webkit-box-shadow: 0 2px 2px 0 white !important;
}

