<ion-header>
  <ion-navbar color="urbid-turquoise-dark">
    <ion-title>REGISTRO</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form [formGroup]="signupForm" (ngSubmit)="signup_request(signupForm.value)">
    <ion-list>
      <ion-row>
        <ion-item class="name">
          <ion-label stacked >Nombre</ion-label>
          <ion-input placeholder="Ingrese su nombre" type="text" formControlName="user_name" name="user_name" [(ngModel)]="user_name"></ion-input>
        </ion-item>
        <ion-item no-lines class="name" >
          <ion-label stacked >Apellido</ion-label>
          <ion-input placeholder="Ingrese su apellido" type="text" formControlName="user_surname" name="user_surname" [(ngModel)]="user_surname"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-lines>
           <ion-label stacked>Correo electrónico</ion-label>
            <ion-input placeholder="Ingrese su correo electronico" type="email" formControlName="user_email" name="user_email" [(ngModel)]="user_email"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-lines>
           <ion-label stacked>Número teléfono</ion-label>
            <ion-input placeholder="Ingrese su número ####-####" type="number" formControlName="user_phone" name="user_phone" [(ngModel)]="user_phone"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row  *ngIf="createType != 'F'">
        <ion-item no-lines>
            <ion-label stacked>Contraseña</ion-label>
            <ion-input placeholder="Ingrese su contraseña" type="password" formControlName="user_password" name="user_password"></ion-input>
        </ion-item>
      </ion-row>
      <div padding>
        <button ion-button block  full color="urbid-login-button" [disabled]="signupForm.invalid" type="submit">Registrarse</button>
      </div>
      <ion-label>Al registrarse acepta los <a href="http://www.urbidcr.com/terminos-condiciones">terminos y condiciones</a></ion-label>
      <ion-label>Nota:</ion-label>
      <p>* La contraseña debe tener una longitud mínima de 8 caracteres</p>
    </ion-list>
  </form>
</ion-content>
