<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>CONFIGURACIÓN</ion-title>
    <button ion-button menuToggle end>
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ng-container>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <h5 no-margin><b>Nombre</b></h5>
                    </ion-item>
                    <ion-item (click)="modificar('N')">
                        <h6 no-margin>{{user_name}}</h6>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <h5 no-margin><b>Apellido</b></h5>
                    </ion-item>
                    <ion-item (click)="modificar('A')">
                        <h6 no-margin>{{user_surname}}</h6>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <h5 no-margin><b>Teléfono</b></h5>
                    </ion-item>
                    <ion-item (click)="modificar('T')">
                        <h6 no-margin>{{user_phone}}</h6>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <h5 no-margin><b>Correo electrónico</b></h5>
                    </ion-item>
                    <ion-item no-lines (click)="modificar('C')">
                        <h6 no-margin>{{user_email}}</h6>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ng-container>
            <ion-row>
                <button ion-button full block color="danger" (click)="eliminarCuenta()">Eliminar mi cuenta</button>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-footer>
