<ion-content padding color="urbid-turquoise-dark" text-center class="vertical-align-content">
    <ion-grid >
        <ion-row justify-content-center>
            <ion-icon class="success-icon" name="checkmark-circle"></ion-icon>
        </ion-row>
      <ion-row no-border>
            <ion-col no-border>
              <h3>¡Su cuenta ha sido eliminada correctamente!</h3>
            </ion-col>
      </ion-row>
  </ion-grid>
  </ion-content>
  <ion-footer no-border>
      <button class="block button-width-detail"  ion-button full strong color="urbid-login-button" (click)="aceptar()" >Aceptar</button>
  </ion-footer>