<ion-menu [content]="content" type="overlay" persistent=“true”>
  <ion-header>
    <ion-toolbar padding color="urbid-turquoise-dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding color="urbid-turquoise-dark">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="abrirPagina(p)">
        <ion-icon name="{{p.icono}}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>