<ion-header>
  <ion-navbar padding color="urbid-turquoise-dark">
    <ion-title>Bienvenido, {{userName}}</ion-title>
    <button ion-button menuToggle end class="boton">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding  class="card-background-page background">
    <ion-grid>
		<ng-container>
                <ion-searchbar [(ngModel)]="buscarProducto" (change)="search()" autocorrect="off" placeholder="Buscar producto..."></ion-searchbar>
                    <ion-row justify-content-center>
                            <ion-col col-6 class="circulo" text-center (click)="category_page()">
                                <ion-icon  class="icon-size" name="pricetags"></ion-icon>
                                <ion-label class="text-size">Categorías</ion-label> 
                            </ion-col>
                            <ion-col col-6 class="circulo" text-center (click)="order_page()">
                                <ion-icon name="basket" class="icon-size"></ion-icon>
                                <ion-label class="text-size">Mis pedidos</ion-label>
                            </ion-col>
                    </ion-row>
					<ion-row justify-content-center>
							<ion-col col-6 class="circulo" text-center (click)="shopping_cart()">
                                <ion-icon name="cart" class="icon-size"></ion-icon>
                                <ion-label class="text-size">Carrito</ion-label>
                            </ion-col>
                            <ion-col col-6 class="circulo" text-center (click)="favorite_page()">
                                <ion-icon  name="heart" class="icon-size"></ion-icon>
                                <ion-label class="text-size">Favoritos</ion-label>
							</ion-col>
                    </ion-row>
                    <ion-row justify-content-center>
                            <ion-col col-6 class="circulo" text-center (click)="configuration_page()">
                                <ion-icon  name="settings" class="icon-size"></ion-icon>
                                <ion-label class="text-size">Configuración</ion-label>
                            </ion-col>
                            <ion-col col-6 class="circulo" text-center (click)="projects_page()">
                                <ion-icon  name="hammer" class="icon-size"></ion-icon>
                                <ion-label class="text-size" text-wrap>Proyectos comunitarios</ion-label>
							</ion-col>
                    </ion-row>
		</ng-container>
	</ion-grid>
</ion-content>
